# To install: 
#   1. activate venv
#   2. pip install -r requirements.txt

# For eccv16 & siggraph17
torch
numpy
matplotlib
argparse
Pillow
scikit-image
ipython

# For coltran
tensorflow[and-cuda]==2.14.0
absl-py
tensorflow_datasets==4.8.3
ml_collections

# For gan_unet
fastai
torchvision

# For weights
gdown
